  <div class="span4">
    <div class="hero-unit">
      <h1>saveit.in</h1>
      <p>Simple, secure bookmarks</p>
      <p>
        <a class="btn btn-primary btn-large">
          Learn more
        </a>
      </p>
    </div>
  </div>

  <div class="span4">
    <h2>Sign in</h2>
    <div class="control-group">
      <%= link_to user_omniauth_authorize_path(:twitter) do %><%= image_tag 'sign-in-with-twitter.png'%><% end %>
    </div>
    <div class="control-group">
      <%= link_to user_omniauth_authorize_path(:facebook) do %><%= image_tag 'sign-in-with-facebook.png'%><% end %>
    </div>
    <div class="control-group">
      <%= image_tag 'or.png' %>
    </div>
    <div id="login"></div>
    <h2>Sign up</h2>
    <div id="signup"></div>
  </div>


