<!DOCTYPE html>
<html>
<head>
  <title>Save It</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="search" type="application/opensearchdescription+xml" title="saveit.in" href="<%= url_for controller: "/home", action: "opensearch", format: "xml" -%>">
</head>
<body>

<% if user_signed_in? %>
  <%= render 'nav' %>
<% else %>
  <%= render 'nav.anonymous' %>
<% end %>

<div class="container">
  <%= render 'alerts' %>
  <%= yield %>
</div>

<% if current_user %>
  <div id="settings"></div>
<% end %>

</body>
</html>
