<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>Save It - Simple, secure bookmarks</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Condiment' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="search" type="application/opensearchdescription+xml" title="saveit.in" href="<%= url_for controller: "/home", action: "opensearch", format: "xml" -%>">
  <link rel="apple-touch-icon" href="apple-touch-icon-iphone.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-ipad.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-iphone4.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-ipad3.png" />
</head>

<body id="home">
<!-- Start Header -->
<div id="header">
  <div class="container">
    <div class="row">
      <p class="logo"><%= link_to 'Save It', root_path %></p>
    </div>
    <h1>Simple, secure bookmarks</h1>
    <p class="description">Sign in with Facebook or Twitter to use it right away</p>
    <p>
      <%= link_to user_omniauth_authorize_path(:facebook) do %><%= image_tag 'icon-fb-50.png'%><% end %>
      <%= link_to user_omniauth_authorize_path(:twitter) do %><%= image_tag 'icon-twitter-50.png'%><% end %>
    </p>
    <%#<p><a class="btn btn-success btn-large"> Sign Up Today</a> &nbsp; <a class="btn btn-primary btn-large"> Learn More</a></p>
        %>
    <%= image_tag "screenshot.png", alt: "Screenshot" %>
  </div>
</div>
<!-- End Header -->
<!-- Start Content -->
<div id="content">
  <div class="container">
    <%= render 'alerts' %>
    <div class="row">
      <div class="span4 feature">
        <h3>Minimalistic</h3>
        <%= image_tag "ying-yang.jpg", class: "thumb", alt: "Minimalistic" %>
        <p>Save It has only as much as you need to manage your bookmarks. No fancy features creeping from every corner.</p>
      </div>
      <div class="span4 feature">
        <h3>Secure</h3>
        <%= image_tag "lock.gif", class: "thumb", alt: "Secure" %>
        <p>The webapp runs over https, ensuring that nobody can sniff out what your bookmarks are. Your privacy is respected.</p>
      </div>
      <div class="span4 feature">
        <h3>Universal</h3>
        <%= image_tag "responsive.png", class: "thumb", alt: "Universal" %>
        <p>You can run Save It in any browser, including your iPad, iPhone or Android. Access your bookmarks anywere you go.</p>
      </div>
    </div>
  </div>
</div>
<!-- End Content -->
<%= render 'commons/footer' %>
</body>
</html>

