<!DOCTYPE HTML>
<html prefix="og: http://ogp.me/ns#">
<head>
  <%= render :partial => 'commons/head' %>
</head>

<body id="home">
<!-- Start Header -->
<div id="header">
  <div class="container">
    <div class="row">
      <p class="logo"><%= link_to 'Save It', root_path %></p>
    </div>
  </div>
</div>
<!-- End Header -->
<!-- Start Content -->
<div id="content">
  <div class="container">
    <%= render 'alerts' %>
    <%= yield %>
  </div>
</div>
<!-- End Content -->
<%= render 'commons/footer' %>
</body>
</html>

